* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    background-color: #eee;
    font: 14px/1.5 Lato, sans-serif
}

.login {
    background-color: white;
    max-width: 400px;
    margin: 30px auto;
    padding: 30px 50px 50px 50px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}   

.login fieldset {
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login .field {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: bold;
}

.login fieldset legend {
    border-bottom: 2px solid #ccc;
   padding-bottom: 20px;
    margin-bottom: 20px;
}

.login input {
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 20px 0;
}

.login input[type="submit"] {
    border: none;
    background-color: darkorange;
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
}

.login .field label {
    order: -1;
}

.login input:required ~ label::after {
    display: inline-block;
    content: '*';
    padding-left: 0.3em;
    color: #C00;
}