div p {
    color: blue;
}

p > span {
    color: red;
}

span {
    color: red;
}

p ~ span {
    font-weight: bold;
}

p + p {
    background-color: lightgray;
}

ul > li {
    list-style-type: circle;
}

ul {
    padding-left: 25px;
}

.div-set {
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
}