body {
    background-color: #eee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    text-decoration: underline;
}

#header {
    background: #b22222;
}

h1, h2, h3, h3, h4, h5, h6 {
    font-weight: normal;
}