body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
}

h2 {
    font-size: 1.2em;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit
}

.button {
    background-color: #cfcccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin: 10px 5px;
    border: 1px solid #cfcccc;
}   

.button:first-of-type {
    margin: 0;
}

.primarry {
    background-color: orange;
}

.secondary {
    background-color: yellow;
}

.outline {
    background-color: white;
}